.breadcrumb{
display:flex;
align-items:center;
gap:8px;
margin-bottom:24px;
flex-wrap:wrap;
}

.segment{
display:flex;
align-items:center;
gap:8px;
}

.item{
display:flex;
align-items:center;
gap:6px;
text-decoration:none;
color:var(--gray);
font-size:.9rem;
transition:.25s;
}

.item:hover{
color:var(--primary);
}

.current{
color:var(--text);
font-weight:600;
}