.meta {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  margin: 1.5rem 0;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-bottom: .75rem;

  border-bottom: 1px solid #ececec;
}

.label {
  color: #6b7280;
  font-weight: 600;
}